.saved{
    width: 120px;
}
.scrape {
    margin-right: 1%;
}
.jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px lightslategrey;
  }
  
  .jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.7;
  }
  
  .jumbotron .background {
    height: 100%;
    width: 100%;
    background-image: url("./img/images.jpg");
    background-size: contain;
  }
  
  .jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  
  .jumbotron .caption h1,
  .jumbotron .caption p {
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
  }
  
  .jumbotron p {
    font-size: 30px;
  }
  